<div class="row">
  <div data-hook="stores">
    <div data-hook="admin_store_form_fields_left" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= Spree.t(:general_parameters)%>
        </div>
        <div class="panel-body">
          <div data-hook="name">
            <%= f.field_container :name, class: ['form-group'] do %>
              <%= f.label :name, Spree.t(:store_name) %><br />
              <%= f.text_field :name, :class => 'form-control' %>
              <%= error_message_on :store, :name %>
            <% end %>
          </div>

          <div data-hook="code">
            <%= f.field_container :code, class: ['form-group'] do %>
              <%= f.label :code, Spree.t(:store_code) %><br />
              <%= f.text_field :code, :class => 'form-control' %>
              <%= error_message_on :store, :code %>
            <% end %>
          </div>

          <div data-hook="default">
            <%= f.field_container :default, class: ['form-group'] do %>
              <label><%= Spree.t(:store_default) %></label>
              <div class="radio">
                <label><%= f.radio_button :default, 'true' %> <%= Spree.t(:say_yes) %></label>
                <label><%= f.radio_button :default, 'false' %> <%= Spree.t(:say_no) %></label>
              </div>
            <% end %>
          </div>

          <div data-hook="mail_form_address">
            <%= f.field_container :mail_from_address, class: ['form-group'] do %>
              <%= f.label :mail_from_address, Spree.t(:send_mails_as) %><br />
              <%= f.text_field :mail_from_address, :class => 'form-control' %>
              <%= error_message_on :store, :mail_from_address %>
            <% end %>
          </div>

          <div data-hook="advertisement">
            <%= f.field_container :advertisement, class: ['form-group'] do %>
              <%= f.label :advertisement, Spree.t(:advertisement) %><br />
              <%= f.text_area :advertisement, :class => 'form-control' %>
              <%= error_message_on :store, :advertisement %>
            <% end %>
          </div>

          <div data-hook="phone">
            <%= f.field_container :phone, class: ['form-group'] do %>
              <%= f.label :phone, Spree.t(:phone) %><br />
              <%= f.text_field :phone, :class => 'form-control' %>
              <%= error_message_on :store, :phone %>
            <% end %>
          </div>

          <div data-hook="url">
            <%= f.field_container :url, class: ['form-group'] do %>
              <%= f.label :url, Spree.t(:store_url) %><br />
              <%= f.text_field :url, class: 'form-control' %>
              <%= error_message_on :store, :url %>
            <% end %>
          </div>

          <div data-hook="default_locale">
            <%= f.field_container :default_locale, class: ['form-group'] do %>
              <%= f.label :default_locale, Spree.t(:store_default_locale) %><br />
              <%= f.select :default_locale, options_for_select(available_locales_options, @store.default_locale.to_s) %>
              <%= error_message_on :store, :default_locale %>
            <% end %>
          </div>
          <script>
            $('#store_default_locale').select2();
          </script>

        </div>
      </div>

    </div>

    <div data-hook="admin_store_form_fields_right" class="col-md-6">

      <div data-hook="payment_methods" class="panel panel-default">
        <div class="panel-heading"><%= Spree.t(:payment_methods) %></div>
        <% if !@payment_methods.empty? %>
          <%= f.field_container :payment_methods, class: ['form-group panel-body'] do %>
            <%= f.label :payment_methods, Spree.t(:select_payment_methods) %><br />
            <% @payment_methods.each do |payment_method| %>
              <label class="sub">
                <%= check_box_tag 'store[payment_method_ids][]', payment_method.id, @store.payment_methods.include?(payment_method) %>
              </label> &nbsp;
              <!-- "#{payment_method.name} (#{payment_method.environment})" -->
              <%= payment_method.name %>
              <br>
            <% end %>
            <%= hidden_field_tag 'store[payment_method_ids][]', '' %>
          <% end %>
        <% else%>
          <div class="panel-body"><%= Spree.t(:no_payment_methods_founded) %></div>
        <% end %>
      </div>

      <div data-hook="currency" class="panel panel-default currency">
          <div class="panel-heading">
            <%= Spree.t(:currency_settings)%>
          </div>

        <div class="panel-body">
          <div class="form-group">
            <%= label_tag :currency, Spree.t(:choose_currency) %>
            <%= select_tag :currency, currency_options %>
          </div>
        </div>
      </div>
      <script>
        $('#currency').select2();
      </script>

    </div>

    <div data-hook="admin_store_form_fields_bottom" class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= Spree.t(:SEO) %>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <%= f.label :seo_title, Spree.t(:'seo.store_title') %><br />
            <%= f.text_field :seo_title, :class => 'form-control' %>

            <%= f.label :meta_keywords, Spree.t(:'seo.store_meta_keywords') %><br />
            <%= f.text_field :meta_keywords, :class => 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.label :meta_description, Spree.t(:'seo.store_meta_description') %><br />
            <%= f.text_area :meta_description, :class => 'form-control', rows: 5 %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
