<%= render partial: 'spree/admin/stores/store_tabs', locals: { current: :general } %>

<div data-hook="admin_store_edit_form_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @store } %>
</div>

<div data-hook="admin_store_edit_form">
  <%= form_for [:admin, @store], :html => {:multipart => true} do |f| %>
    <fieldset class="no-border-top">
      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
  <% end %>
</div>
